name: Backend

on:
  push:
    branches:
      - develop
      - main
    paths:
      - "backend/**"
  pull_request:
    branches:
      - develop
      - main
    paths:
      - "backend/**"

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
