name: Frontend

on:
  push:
    branches:
      - develop
      - main
    paths:
      - "frontend/**"
  pull_request:
    branches:
      - develop
      - main
    paths:
      - "frontend/**"


jobs:
  lint:
    uses: ./.github/workflows/lint.yml
